.container {
  margin-top: 50px;
  margin-bottom: 100px;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 200px;
  font-family: "Sora", sans-serif;
}

.content {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-content: space-between;
  width: 100%;
  gap: 30px;
}

@media screen and (max-width: 929px) {
  .container {
    padding: 0 20px;
    align-items: center;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }
}
