.shoppingCart {
  // position: fixed;
  // top: 0;
  // right: 0;
  // z-index: 20;
  // margin-right: 20px;
  // background-color: red;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 300px;
  // background-color: red;
}