.container {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  justify-content: space-between;
  width: 100%;
  padding-top: 100px;
  background-color: #fcfcfc;
  .right {
    :not(:first-child) {
      margin-top: 40px;
    }
    .text {
      max-width: 458px;
    }
  }
}
