.container {
  display: flex;
  width: 256px;
  min-height: 275px;
  border-radius: 25px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #fcc9be59;
  text-align: center;
  padding: 10px;
  h1 {
    margin: 15px;
  }
  p {
    max-width: 180px;
  }
}
