.container {
  background-color: #ffa200;
  border-radius: 50px;
  .img {
    max-width: 70px;
  }
}

@media screen and (max-width: 655px) {
  .container {
    .img {
      max-width: 50px;
    }
  }
}
