.container {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  justify-content: space-between;
  width: 100%;
  padding-top: 100px;
background-color: rgba(252, 201, 190, 0.3490196078);
  padding: 50px 300px;
  .right {
    :not(:first-child) {
      margin-top: 40px;
    }
    .text {
      max-width: 458px;
    }
  }
}
